.sidebar {
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.sidebar>h2 {
    display: flex;
    justify-content: start;
    margin: 1em;
    margin-left: 0;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.user-info img {
    width: 18%;
    height: 18%;
    margin-right: 0.5em;
}

.user-info h1 {
    margin-bottom: 0;
}

.user-info p {
    font-size: 1.2em;
    color: rgb(155, 150, 150);
    margin-top: 0;
}

.user-health,
.break-btn {

    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 1em;
    padding-right: 1em; */
    padding: 1em;
}

.user-health h1 {
    margin: 0;
}

.user-health p {
    margin: 0;
}

.hp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.break-btn {
    margin-bottom: 3em;
}

.break-btn button {
    border: none;
    border-radius: 50%;
    padding: 1em;
}

.time {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    margin-bottom: 1.5em;
}

.ex-time {}

.activity-btn{
    background-color: rgba(0, 0, 255, 0.664);
    color: white;
    font-size: x-large;
    border: none;
    border-radius: 10px;
    padding: 0.8em 1em;
    width: 100%;
    margin-top: 2em;
}